.createUser{
    margin-top: 0;
    
}
@media screen and (max-width: 798px)
{
    
    .userForm{
        float: right;
        position: absolute;
        bottom: 0;
        align-self: flex-end;
        width: 100%;
        font-family:sans-serif;
        background-color: white;
    
    }
}
.userMainForm{
    box-shadow: 0px 0px 5px 3px #aaaaaa;
    padding-top: 0%;
    padding-left: 0%;
  
    /* border: red 1px solid; */
    border-radius: 10px;
}
@media screen and (max-width: 1539px){
.userForm{
    
    transform: translateY(20%); 
    /*float: right;*/
    position: absolute;
    bottom: 0;
    align-self: flex-end;
    width: 100%;
    font-family:sans-serif;
    /* grid-column-start: 3;
    grid-column-end: span end ;
    grid-row-start: 2;
    grid-row-end: span 2; */

}
}

h2{
    font-weight: bolder;
    padding-top: 0%;

}

.userCreateButton{
    justify-content: center;
    margin-left: 25%;
}
Button{
    width: 25%;
    /* justify-content: center; */
    
}

.form-inline {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
   
    text-align: center;
   

}

.C_cx {
    background-color:rgb(75, 106, 198);
    height: 3.2rem;
    padding: 10px;
    box-shadow: 0px 0px 5px 3px #aaaaaa;
    font-style:italic;
  
    
}
.abcd{
    font-weight: bolder;
    padding-top: 5%;
    color:rgb(75, 106, 198);
    

}
.efgh{
    font-weight: bolder;
    padding-top: 0%;
    color:azure;
}
.xyz{
    box-shadow: 0px 0px 5px 0px #aaaaaa;
    padding-top: 0%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:5%;
  
    /* border: red 1px solid; */
    border-radius: 10px;
}
.line{
    width:100%;
    text-align:left;
    margin-left:0;
    background-color:black;
    border-width: 50;
}
.xyza{
    box-shadow: 0px 0px 5px 0px #aaaaaa;
    padding-top:0%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:5%;
    border-radius: 10px;
}
.form1{
    box-shadow: 0px 0px 5px 2px #aaaaaa;
    padding-top: 1%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 1%;
    transform: translateX(60%) translateY(-180%); 
    width: 50%;
    /* border: red 1px solid; */
    
}
.userForm1{
    padding: 6%;
}

