.footerBottom{
    position: fixed;
    bottom: 0;
    margin-top: 20%;
    width: 100%;
    text-align: right;
    padding-right: 1%;
    text-decoration: none;
    background-color: white;
    padding-top: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 0%;
    overflow: hidden;
}
p{
    color: gray;
}


  