.sidenav {
  min-height: 56em;
  height: 100%;
  width: 15%;
  position: relative;
  z-index: 1;
  left: 0;
  background-color: rgb(113, 111, 111);
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  box-shadow: 2px 2px 2px #aaaaaa;
  border-radius: 5px;
}
.kuchvi{
  height: 30em;
  min-height: 30em !important;

}
 .ant-menu-sub{
height:fit-content !important;

}
/*
ul{
  transition: 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
} */

ul{
  height: 60em;
}